# 6242 PROJECT

Comment: Pat push, 3-FEB-20

## PHASE 1: PROJECT SETUP

Import the necessary libraries needed for ETL, engineering, and export efforts

In [2]:
import pandas as pd
import csv
import random
import sqlite3
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import getpass as gp

Function declaration

In [3]:
def function_1():
    '''
    DESCRIPTION: Sample description for the function
    '''

In [4]:
def function_2():
    '''
    DESCRIPTION: Sample description for the function
    '''

## PHASE 2: DATA ETL

In [5]:
# set the random seed for the project in order to ensure consistent results
random.seed(6)

In [6]:
# import csv data into pandas dataframe
listings2_raw = pd.read_csv("listings-2.csv") 
listings2_raw.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3362,"Convention Center Rowhouse & In Law: 2 Units, 4BR",2798,Ayeh,NaN,"Shaw, Logan Circle",38.90982,-77.02016,Entire home/apt,433,2,177,2020-02-02,1.31,5,138
1,3663,Classic Rowhouse: Porch+ART+Parking,4617,Shawn & Richard,NaN,"Brightwood Park, Crestwood, Petworth",38.95888,-77.02554,Entire home/apt,154,3,41,2018-05-21,0.36,1,26
2,3670,Beautiful Sun-Lit U Street 1BR/1BA,4630,Sheila,NaN,"Howard University, Le Droit Park, Cardozo/Shaw",38.91842,-77.02750,Private room,75,2,79,2018-07-25,1.31,1,0
3,3686,Vita's Hideaway,4645,Vita,NaN,Historic Anacostia,38.86314,-76.98836,Private room,55,2,71,2019-08-05,0.63,2,181
4,3771,Mt. Pleasant,4795,Charlene,NaN,"Columbia Heights, Mt. Pleasant, Pleasant Plain...",38.92760,-77.03926,Private room,88,1,1,2009-01-21,0.01,1,0
5,4002,2 Bedroom Private Condo Suite (Basement Apt),5143,Anthony,NaN,"North Michigan Park, Michigan Park, University...",38.94008,-76.98936,Entire home/apt,120,2,149,2018-11-13,1.10,1,156
6,4197,Bedroom in DC 2 blocks to Metro,5061,Sandra,NaN,"Capitol Hill, Lincoln Park",38.88791,-76.99668,Private room,83,7,44,2020-01-25,0.34,2,225
7,4501,DC Rowhouse,1585,Kip,NaN,"Shaw, Logan Circle",38.91331,-77.02436,Private room,475,2,120,2015-07-16,0.89,1,0
8,4529,Bertina's House Part One,5803,Bertina'S House,NaN,"Eastland Gardens, Kenilworth",38.90645,-76.94305,Private room,52,30,102,2019-07-05,0.79,2,179
9,4967,"DC, Near Metro",7086,Seveer,NaN,"Ivy City, Arboretum, Trinidad, Carver Langston",38.91263,-76.99221,Private room,99,2,31,2016-09-22,0.27,3,365

In [12]:
username = gp.getpass(prompt='Enter your username:')

Enter your username:········

In [13]:
password = gp.getpass(prompt='Enter your password:')

Enter your password:········

In [14]:
username

'pbenitez'

In [15]:
password

'sdfdsa'

In [ ]:
username = "username"
password = "password"
url = 'https://sample_aws.html' # AWS instance